<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.AnswerMapper">
    <!-- GET CATEGORY ID -->
    <select parameterType="map" id="getAnsOfferNeed" resultMap="answerResult">
        SELECT
        DB_Answer.Id AS id,
        DB_Answer.Name AS name,
        DB_Answer.Comments AS comments,
        DB_Answer.Date_Create AS dateCreate,
        DB_Answer.IdOffer,
        DB_Answer.IdNeeds,
        CONCAT(DB_OFFERS.name, DB_Needs.name) AS nameOfferORNeed
        FROM DB_Answer
        LEFT JOIN DB_OFFERS ON DB_Answer.IdOffer = DB_OFFERS.offerId
        LEFT JOIN DB_Needs ON DB_Answer.IdNeeds = DB_Needs.id
    </select>

    <!-- ADD ANSWER -->
    <insert parameterType="map" id="addAnswer">
        INSERT INTO DB_Answer (Name, Comments, IdOffer, IdNeeds) VALUES (#{name}, #{comments}, #{idOffer}, #{idNeeds});
    </insert>

    <!-- ADD ANSWER idOffer -->
    <insert parameterType="map" id="addAnswerOffer">
        INSERT INTO DB_Answer (Name, Comments, IdOffer, IdNeeds) VALUES (#{name}, #{comments}, #{idOffer}, NULL);
    </insert>

    <!-- ADD ANSWER idNeeds -->
    <insert parameterType="map" id="addAnswerNeeds">
        INSERT INTO DB_Answer (Name, Comments, IdOffer, IdNeeds) VALUES (#{name}, #{comments}, NULL, #{idNeeds});
    </insert>

    <resultMap id="answerResult" type="Answer" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="comments" column="comments"/>
        <result property="dateCreate" column="dateCreate"/>
        <result property="nameOfferORNeed" column="nameOfferORNeed"/>
        <!--association property="IdOffer" javaType="Offer" resultMap="edu.eci.cvds.persistence.mybatis.mappers.OfferMapper"/>
        <association property="IdNeeds" javaType="Need" resultMap="edu.eci.cvds.persistence.mybatis.mappers.NeedMapper"/-->
    </resultMap>
</mapper>