<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.OfferMapper">
    <!-- GET CATEGORY NAME -->
    <select id="getCategoryName" resultMap="CategoryResult">
        SELECT
            Id AS c_id,
            Name AS c_name,
            Description AS c_description,
            Date_Create AS c_dateCreate,
            State AS c_state,
            Date_Modification AS c_dateModification
        FROM Category
        WHERE #{name} = Name;
    </select>

    <!-- GET CATEGORY ID -->
    <select id="getCategoryID" resultMap="CategoryResult">
        SELECT
            Id AS c_id,
            Name AS c_name,
            Description AS c_description,
            Date_Create AS c_dateCreate,
            State AS c_state,
            Date_Modification AS c_dateModification
        FROM Category
        WHERE #{id} = Id;
    </select>

    <!-- ADD CATEGORY -->
    <insert id="addCategory">
        INSERT INTO DB_Category (Name, Description, Status) VALUES (#{name}, #{description}, #{state});
    </insert>

    <resultMap id="CategoryResult" type="Category" >
        <id property="Id" column="c_id"/>
        <result property="Name" column="c_name" />
        <result property="Description" column="c_description" />
        <result property="Date_Creation" column="c_dateCreate" />
        <result property="State" column="c_state" />
        <result property="Date_Modification" column="c_dateModification" />
    </resultMap>
</mapper>