<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.CategoryMapper">
    <!-- GET CATEGORY NAME -->
    <select parameterType="map" id="getCategoryName" resultMap="categoryResult">
        SELECT
        id AS id,
        name AS name,
        description AS description,
        date_Create AS date_Create,
        state AS state,
        date_Modification AS date_Modification
        FROM DB_Category
        WHERE #{name} = Name;
    </select>

    <!-- GET CATEGORY NAME -->
    <select parameterType="map" id="getReportCategory" resultMap="categoryResult">
        SELECT
            name AS name,
            offer AS offer,
            need AS need,
            sum(offer+need) AS total
        FROM(
                SELECT
                    DB_Category.name,
                    count(DB_OFFERS.name) AS OFFER
                from DB_Category
                         FULL JOIN DB_OFFERS ON DB_Category.id = DB_OFFERS.offercategory
                GROUP BY DB_Category.name) AS T1
                FULL OUTER JOIN(
            SELECT
                DB_Category.name AS nname,
                COUNT(DB_NEEDS.category) AS NEED
            FROM DB_Category
                     LEFT JOIN DB_NEEDS ON DB_Category.id = DB_NEEDS.category
            GROUP BY DB_Category.name) AS T2 ON T1.name = T2.nname
        GROUP BY name, nname, OFFER, NEED
    </select>

    <!-- GET CATEGORY ID -->
    <select parameterType="map" id="getCategoryId" resultMap="categoryResult">
        SELECT
        id AS id,
        name AS name,
        description AS description,
        date_Create AS date_Create,
        state AS state,
        date_Modification AS date_Modification
        FROM DB_Category
        WHERE #{id} = Id;
    </select>

    <!-- GET ALL CATEGORIES -->
    <select parameterType="map" id="getAllCategories" resultMap="categoryResult">
        SELECT
        id,
        name,
        description,
        date_Create AS date_Create,
        state AS state,
        date_Modification AS date_Modification
        FROM DB_Category;
    </select>

    <!-- ADD CATEGORY -->
    <insert parameterType="map" id="addCategory">
        INSERT INTO DB_CATEGORY (name, description, state) VALUES (#{name}, #{description}, #{state});
    </insert>

    <update parameterType="map" id="upCategoryId">
        UPDATE DB_Category
        SET Name = #{name}, Description = #{description}, State = #{state}
        WHERE Id = #{id}
    </update>

    <select parameterType="map" id="getCategories" resultMap="categoryResult">
        SELECT
        id AS id,
        name AS name,
        description AS description,
        date_Create AS date_Create,
        state AS state,
        date_Modification AS date_Modification
        FROM DB_Category

    </select>

    <!-- DELETE CATEGORY -->
    <delete id="deleteCategory">
        DELETE FROM DB_Category WHERE #{id} = id;
    </delete>

    <resultMap id="categoryResult" type="Category" >
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="offer" column="offer" />
        <result property="need" column="need" />
        <result property="total" column="total" />
        <result property="description" column="description" />
        <result property="date_Create" column="date_Create" />
        <result property="state" column="state" />
        <result property="date_Modification" column="date_Modification" />
    </resultMap>



</mapper>