<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.NeedMapper">
    <!-- GET NEED BY NAME -->
    <select id="getNeedByName" resultMap="NeedResult">
        SELECT
        id AS n_id,
        category AS n_category,
        name AS n_name,
        description AS n_description,
        urgency As n_urgency,
        status AS n_status,
        creationDate AS n_dateCreation,
        modificationDate AS n_dateModification
        FROM Need
        WHERE #{name} = name;
    </select>

    <!-- GET NEED BY USER ID -->
    <select id="getNeedByID" resultMap="NeedResult">
        SELECT
        id AS n_id,
        category AS n_category,
        name AS n_name,
        description AS n_description,
        urgency As n_urgency,
        dateCreation AS n_dateCreation,
        status AS n_status,
        dateModification AS n_dateModification
        FROM Need
        WHERE #{id} = id;
    </select>

    <!-- GET OFFER BY Status -->
    <select id="getByStatus" resultMap="NeedResult">
        SELECT
        DB_NEEDS.id AS n_id,
        DB_NEEDS.category AS n_category,
        DB_NEEDS.name AS n_name,
        DB_NEEDS.description AS n_description,
        DB_NEEDS.urgency AS n_urgency,
        DB_NEEDS.creationDate AS n_creationDate,
        DB_NEEDS.status AS n_status,
        DB_NEEDS.modificationDate AS n_modificationDate
        FROM DB_NEEDS
        WHERE
            #{status} = DB_NEEDS.status;
    </select>


    <select id="getAllNeeds" resultMap="NeedResult">
        SELECT
        DB_NEEDS.id AS n_id,
        DB_NEEDS.category AS n_category,
        DB_NEEDS.name AS n_name,
        DB_NEEDS.description AS n_description,
        DB_NEEDS.urgency AS n_urgency,
        DB_NEEDS.creationDate AS n_creationDate,
        DB_NEEDS.status AS n_status,
        DB_NEEDS.modificationDate AS n_modificationDate,
        DB_CATEGORY.name AS categoryName,
        CONCAT(DB_USER.firstName, ' ',  DB_USER.lastName)  AS UserName

        FROM DB_NEEDS
        INNER JOIN DB_USER ON DB_NEEDS.createdByUser = DB_USER.userId
        INNER JOIN DB_CATEGORY ON DB_NEEDS.category = DB_CATEGORY.id

        ORDER BY DB_NEEDS.status

    </select>

    <!-- ADD NECESSITY -->
    <insert parameterType="map" id="registerNeed">
        INSERT INTO DB_NEEDS (category,
        name,
        description,
        urgency,
        status,
        createdbyuser) VALUES (
        #{categoryId},
        #{name},
        #{description},
        #{urgency},
        #{status},
        #{createdByUser});
    </insert>

    <!-- UPDATE NEED -->
    <update id="updateStatus">
        UPDATE DB_NEEDS
        SET status = #{status}
        WHERE  #{id} = DB_NEEDS.id;
    </update>

    <!-- DELETE NEED -->
    <delete id="deleteNeed">
        DELETE FROM DB_NEEDS WHERE #{id} = id;
    </delete>


    <resultMap id="NeedResult" type="Need" >
        <id property="id" column="n_id"/>
        <result property="category" column="n_category" />
        <result property="name" column="n_name" />
        <result property="description" column="n_description"/>
        <result property="urgency" column="n_urgency"/>
        <result property="creationDate" column="n_creationDate" />
        <result property="status" column="n_status"/>
        <result property="modificationDate" column="n_modificationDate" />
        <result property="createdByUser" column="n_createdbyuser" />
    </resultMap>
</mapper>