<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.NovedadMapper">
    <insert id="addNovedad" parameterType="map">
        INSERT INTO Novedad(titulo,detalle,fecha,usuario,idEquipo,idElemento)
        VALUES(#{novedad.titulo},#{novedad.detalle},CURRENT_DATE ,#{novedad.idUsuario} ,#{novedad.idEquipo},#{novedad.idElemento});
    </insert>
    <select id="consultarNovedades" parameterType="map" resultMap="NovedadResult">
        SELECT
            n.idNovedad AS n_idNovedad,
            n.titulo AS n_titulo ,
            n.detalle AS n_detalle ,
            n.fecha AS n_fecha,
            n.usuario AS n_usuario,
            n.idElemento AS n_idElemento,
            n.idEquipo AS n_idEquipo,

            u.correo AS u_correo
        FROM
            novedad n
            INNER JOIN
            usuario u
            ON n.usuario = u.idusuario
            ORDER BY n.fecha DESC;
    </select>

    <select id="consultarPorElementos" parameterType="java.util.ArrayList" resultMap="NovedadResult">
        SELECT
            n.idNovedad AS n_idNovedad,
            n.titulo AS n_titulo ,
            n.detalle AS n_detalle ,
            n.fecha AS n_fecha,
            n.usuario AS n_usuario,
            n.idElemento AS n_idElemento,
            n.idEquipo AS n_idEquipo,

            u.correo AS u_correo
        FROM
            novedad n
            INNER JOIN
            usuario u
            ON n.usuario = u.idusuario
            WHERE
                n.idElemento IN
                <foreach collection="search" item="item" index="index"
                         open= "(" separator= "," close= ")">
                    #{item}
                </foreach>
            ORDER BY n.fecha DESC;
    </select>

    <select id="consultarPorEquipos" parameterType="java.util.ArrayList" resultMap="NovedadResult">
        SELECT
            n.idNovedad AS n_idNovedad,
            n.titulo AS n_titulo ,
            n.detalle AS n_detalle ,
            n.fecha AS n_fecha,
            n.usuario AS n_usuario,
            n.idElemento AS n_idElemento,
            n.idEquipo AS n_idEquipo,

            u.correo AS u_correo
        FROM
            novedad n
            INNER JOIN
            usuario u
            ON n.usuario = u.idusuario
            WHERE
                n.idEquipo IN
                <foreach collection="search" item="item" index="index"
                         open= "(" separator= "," close= ")">
                    #{item}
                </foreach>
                AND n.idElemento IS NULL
            ORDER BY n.fecha DESC;
    </select>

    <resultMap id="NovedadResult" type="Novedad" >
        <id property="idNovedad" column="n_idNovedad"/>
        <result property="titulo" column="n_titulo"/>
        <result property="detalle" column="n_detalle"/>
        <result property="fecha" column="n_fecha"/>
        <result property="idUsuario" column="n_usuario"/>
        <result property="idElemento" column="n_idElemento"/>
        <result property="idEquipo" column="n_idEquipo"/>
        <result property="correo" column="u_correo"/>
    </resultMap>
</mapper>