<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.OfferMapper">


    <!-- SELECT  OFFER -->

    <!-- GET OFFER BY NAME -->
    <select id="getOfferByName" resultMap="OfferResult">
        SELECT
        offerId AS IdOffer,
        offerCategory AS CategoryOffer,
        name AS Name,
        description AS Description,
        status AS Status,
        dateCreation AS DateCreation,
        dateModification AS DateModification
        FROM DB_OFFERS
        WHERE #{name} = DB_OFFERS.name;
    </select>

    <!-- GET OFFER BY ID -->
    <select id="getOfferByID" resultMap="OfferResult">
        SELECT
        offerId AS IdOffer,
        offerCategory AS CategoryOffer,
        name AS Name,
        description AS Description,
        status AS Status,
        dateCreation AS DateCreation,
        dateModification AS DateModification
        FROM DB_OFFERS
        WHERE #{idOffer} = DB_OFFERS.offerId;
    </select>

    <!-- GET OFFER BY Status -->
    <select id="getByStatus" resultMap="OfferResult">
        SELECT
        DB_OFFERS.offerId AS offerId,
        DB_OFFERS.offerCategory AS CategoryOffer,
        DB_OFFERS.name AS Name,
        DB_OFFERS.description AS Description,
        DB_OFFERS.status AS Status,
        DB_OFFERS.dateCreation AS DateCreation,
        DB_OFFERS.dateModification AS DateModification,
        CONCAT(DB_USER.firstName, ' ',  DB_USER.lastName)  AS UserName
        FROM DB_OFFERS
            INNER JOIN DB_USER ON DB_OFFERS.userId = DB_USER.userId
        WHERE
            #{status} = DB_OFFERS.status;
    </select>

    <!--GET OFFER BY User-->
    <select id="getByUserId" resultMap="OfferResult">
        SELECT
        DB_OFFERS.offerId AS offerId,
        DB_OFFERS.offerCategory AS CategoryOffer,
        DB_OFFERS.name AS Name,
        DB_OFFERS.description AS Description,
        DB_OFFERS.status AS Status,
        DB_OFFERS.dateCreation AS DateCreation,
        DB_OFFERS.dateModification AS DateModification,
        CONCAT(DB_USER.firstName, ' ',  DB_USER.lastName)  AS UserName
        FROM DB_OFFERS
            INNER JOIN DB_USER ON DB_OFFERS.userId = DB_USER.userId
        WHERE
            #{userId} = DB_USER.userId;
    </select>



    <!-- INSERT OFFER -->
    <insert id="createOffer">
        INSERT INTO DB_OFFERS (offerCategory, name, description, userId) VALUES (#{offerCategory}, #{name}, #{description}, #{userId})
    </insert>

    <!-- UPDATE OFFER -->
    <update id="changeStatus">
        UPDATE DB_OFFERS
        SET status = #{status}
        WHERE  #{offerName} = DB_OFFERS.name;
    </update>





    <resultMap id="OfferResult" type="Offer" >
        <id property="idOffer" column="idOffer"/>
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="dateCreation" column="dateCreation" />
        <result property="dateModification" column="dateModification" />
<!--        <association property="category" javaType="Category" columnPrefix="category" resultMap="edu.eci.cvds.persistence.mybatis.mappers.CategoryMapper"/>-->
<!--        <association property="userId" javaType="User" columnPrefix="userId" resultMap="edu.eci.cvds.persistence.mybatis.mappers.UserMapper"/>-->
    </resultMap>
</mapper>
